.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1 {background: #1abc9c;}
.box2 {background: #9b59b6;}
.box3 {background: #f1c40f;}
.box4 {background: #e67e22;}
.box5 {background: #e74c3c;}
.box6 {background: #45fe12;}
.box7 {background: #ae9912;}
.box8 {background: #04862e;}
.box9 {background: #761211;}
.box10 {background: #123456;}

.container {
  display: flex;
  border: 10px solid goldenrod;
  min-height: 100vh;
  flex-wrap: wrap;
}

.box {
  width: 33.3333333%;
}
