$primary-color: #689b00;
$accent-color: #fe5f00;
//$background-color: #efe7da;
$background-color: rgba(239, 231, 218, .6);
$lighter-color: #f9f9f9;
$contact-text: #f9f9f9;
$header-color: rgba(35, 35, 26, .9);
$footer-color: #23231a;
$developer-color: #ff8787;
$peace-color: #fff;
$love-color: #f00;
$contrast-color: #00ffc3;
$text-color: #111;
$border-color: rgba(35, 35, 26, .8);
//$border-color: rgba(34, 34, 34, .05);
$box-shadow-color: rgba(0, 0, 0, .9);
$text-shadow-color: rgba(0, 0, 0, .1);
$white-color: #fff;

// Fonts

$sans-serif: 'Space Mono', monospace;
$serif: 'Neuton', serif;
