$primary-color-dark: #388e3c;
$primary-color: #4caf50;
$primary-color-light: #c8e6c9;
$primary-color-text: #fff;
$accent-color: #ff5722;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
