// Main scss file

@import 'variables';
//@import 'base/base';
//@import 'base/typography';

html,
body {
  font-family: $serif;
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;

}

header {
  background: $header-color;
  border-bottom: 2px solid $accent-color;
  //border-color: $accent-color;
  color: $header-text;
  display: block;
  font-family: $sans-serif;
  height: 120px;
  //margin: 0 0 30px;
  position: relative;
  width: 100%;
  z-index: 100;
}

hr {
  border-color: $accent-color;

  light {
    border-color: $accent-color;
  }
  width: 80%;
}

// .container-fluid {
//   border: 10px solid $accent-color;
//   display: block;
//   //min-height: 70vh;
//   margin-left: 20%;
//   margin-right: 5%;
//   margin-top: 80px;
// }

.box {
  //margin-top: 80px;
  //padding-top: 20px;
}

.logo-image {
  border: 2px solid $accent-color;
  border-radius: 50%;
  //display: block;
  height: 170px;
  //left: 60px;
  //vertical-align: top;
  //position: absolute;
  top: 70px;
  width: 150px;
  z-index: 1000;
}

.brand {
  color: $background-color;
  display: block;
  font-family: $sans-serif;
  left: 240px;
  position: absolute;
  top: 40px;
}

nav {
  //margin: 20px 0 0;
  //padding: 10px 0;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 65px;
}

.navbar-default {
  -moz-transition: all .75s;
  -webkit-transition: all .755s;
  background-color: $header-color;
  //border-color: $accent-color;
  //border-bottom: 2px solid;
  font-family: $sans-serif;
  height: 50px;
  transition: .75s;
}

.navbar-toggle {
  background-color: $header-color;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: $header-text;
  font-family: $sans-serif;;
  font-weight: 700;
  //text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
  color: $header-text;
}

.navbar-inverse .nav > li>a,
.navbar-inverse .nav>li>a:focus {
  color: $header-text;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .nav > li>a:hover, .navbar-default .nav>li>a:focus:hover {
  color: $header-text;
}

.navbar-inverse .nav > li.active>a,
.navbar-inverse .nav>li.active>a:focus {
  background-color: $header-color;
  color: $accent-color;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: $header-color;
}

@media(min-width: 768px) {
  .navbar-inverse {
    background-color: $header-color;
    //border-color: $accent-color;
    //border-bottom: 2px solid;
    height: 50px;
  }

  .navbar-inverse .navbar-header .navbar-brand {
    color: $lighter-color;
  }

  .navbar-inverse .navbar-header .navbar-brand:hover,
  .navbar-inverse .navbar-header .navbar-brand:focus {
    color: $accent-color;
  }

  .navbar-inverse .nav > li>a,
  .navbar-inverse .nav>li>a:focus {
    color: $lighter-color;
  }

  .navbar-inverse .nav > li>a:hover,
  .navbar-inverse .nav>li>a:focus:hover {
    color: $accent-color;
  }

  .navbar-default.affix {
    background-color: $primary-color;
    border-color: $border-color;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    color: $header-text;
    font-size: 14px;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: $accent-color;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: $header-text;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: $accent-color;
  }
}

nav ul {
  list-style: none;
  //margin: 0 10px;
  //padding: 0;
}

nav li {
  color: $background-color;
  display: inline-block;
}

nav a,
nav a:enabled,
nav a:visited {
  color: $background-color;
  font-family: $sans-serif;
  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
}

nav a:hover {
  color: $accent-color;
  text-decoration: none;
}

.about-text {
  text-align: justify;
}

.highlights {
  padding: 20px 10px;
  text-align: center;
}

.specialization {
  position: relative;
  height: 150px;
  padding: 5px;
  width: 150px;
}

.specialization img {
  width: 100%;
  //vertical-align: top;
}

.specialization:after, .specialization:before {
    position:absolute;
    opacity:0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.specialization:after {
    content:'\A';
    width:100%; height:100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.specialization:before {
    content: attr(data-content);
    width: 100%;
    color: $lighter-color;
    z-index: 1;
    bottom: 10%;
    padding: 4px 10px;
    text-align: center;
    font-family: $sans-serif;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.specialization:hover:after, .specialization:hover:before {
  opacity: 1;
}

footer {
  background: $footer-color;
  border-color: $footer-color;
  //bottom: 0;
  clear: both;
  color: $contact-text;
  font-family: $sans-serif;
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  .left-footer {
    text-align: left;
  }
  .right-footer {
    text-align: right;
  }
  .footer-link {
    color: $contact-text;
    text-decoration: none;
  }
}

.oak-icon {
  height: 30px;
  width: 30px;
}

.wrapper {
  display: block;
  font-family: $serif;
  margin: 0;
  max-width: 1080px;
  //min-height: 100%;
  padding: 5%;
  //border: 10px solid $accent-color;
  //min-height: 70vh;
  //margin-left: 20%;
  //margin-right: 5%;
  //margin-top: 80px;
}

@media (max-width: 1079px) {
  .main-slider {
    display: none;
  }
}
